
.App {
 margin-left: 1rem;
}

button {
  margin: .3rem .3rem 0 0;
  padding: 10px 7px;
  border: solid .5px rgb(194, 194, 194);
  cursor: pointer;
}

button:hover {
  background-color: rgb(224, 224, 224);
}

.reset {
  color: white;
  background-color: rgb(248, 96, 88);
  border: solid .5px rgb(209, 82, 75);
}

.reset:hover {
  background-color: rgb(225, 90, 83);
}
